.app .full-col {
    margin-top: 100px;
}

.kanban {
    min-width: 150px;
    height: 100px;
    padding: 5px;
    display: flex;
    flex-flow: row;
}


.index-panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.index-panel>* {
    padding-bottom: 3px;
}
.index-panel>.index {
    color: #f1453d;
    font-size: 24px;
}
.index-panel>.difference {
    font-size: 14px;
}
.index-panel>.index,
.index-panel>.difference {
    color: #00b3a1;
}
.index-panel.red>.index,
.index-panel.red>.difference {
    color: #f1453d;
}

.trending-bar .kanban {
    margin-right: 28px;
}
.trending-bar .user {
    position: absolute;
    right: 40px;
    top: 30px;
}

/* this is for article list in messager bot */
.list-group {
    display: inline-block;
    overflow-y: auto;
    white-space: nowrap;
}

.article-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;

    border: 1px solid rgba(0, 0, 0, .10);
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 252px;
}

.article-img {
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    padding-bottom: 52%;
    position: relative;
}

.article-detail {
    font-weight: bold;
    white-space: normal;
}

.article-title {
    padding: 6px;
}

.article-function div {
    border-top: 1px solid rgba(0, 0, 0, .10);
    display: block;
}

.article-function {
    line-height: 32px;
    text-align: center;
}

.article-function a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}
