.clearfix {
    clear: both;
    overflow: auto;
}

.fg-red {
    color: #db2828!important;
}
.fg-green {
    color: #21ba45!important;
}

.ta-center {
    text-align: center;
}


.p-0 {
    padding: 0px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
