.left_col {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    overflow: scroll;
}
.main_col {
    position: absolute;
    top: 0px;
    left: 300px;
    bottom: 0px;
    right: 300px;
    overflow: scroll;
}
.right_col {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 300px;
    z-index: 3;
    overflow: hidden;
}

.tail {
    position: absolute;
    top: 100%;
    width: 100%;
}

.menu-rail>.menu {
    margin: 0px !important;
    padding-top: 8px;
}
.menu-rail>.logo {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}
.menu-rail>.logo img {
    width: 250px;
}
.menu-rail>.board {
    position: absolute;
    top: 180px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    overflow: scroll;
    margin: 0px;
}
.menu-rail .login {
    padding: 5px 10px;
}
.menu-rail .login > *{
    display: inline-block;
    margin: 0px 5px;
}


.list .item .name {
    display: inline-block;
    padding-top: 2px;
}
.list .item .label {
    float: right;
}

.stock-list {
    width: 300px;
}
.stock-popup {
    width: 300px;
}
