.messager {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.message-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 10px 0px 10px;
}
.messager-header {
    background-color: white;
}
.message-input-area {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 36px;
    margin: 0px 10px 5px 10px;
}
.message-input-area .input {
    width: 100%;
}
