.messager {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: scroll;
}
.message-box {
    position: absolute;
    top: 0px;
    left: 300px;
    right: 300px;
    bottom: 0px;
    overflow: scroll;
    padding: 20px 10px 38px 10px;
}
.messager-header {
    background-color: white;
}
.message-input-area {
    position: absolute;
    bottom: 0px;
    left: 300px;
    right: 300px;
    height: 38px;
}
.message-input-area .input {
    width: 100%;
}


.message {
    padding: 5px 16px 10px 16px;
}
.message .head {
    position: relative;
}
.message .head .avatar {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
}
.message .head .avatar img {
    width: 32px;
    height: 32px;
}
.message .head .name {
    padding-left: 40px;
    font-weight: bold;
    margin: 0px;
    font-size: 14px;
}
.message .content {
    padding: 0px 0px 0px 40px;
    font-size: 18px;
    color: #535353;
}


.information-rail {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 300px;
    overflow: scroll;
}
.information-rail>.menu {
    margin: 0px !important;
    padding-top: 8px;
}
.information-rail>.board {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    overflow: scroll;
    margin: 0px;
}


.menu-rail {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    overflow: scroll;
}
.menu-rail>.menu {
    margin: 0px !important;
    padding-top: 8px;
}
.menu-rail>.logo {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}
.menu-rail>.logo img {
    width: 250px;
}
.menu-rail>.board {
    position: absolute;
    top: 200px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    overflow: scroll;
    margin: 0px;
}
.menu-rail .login {
    padding: 5px 10px;
}
.menu-rail .login > *{
    display: inline-block;
    margin: 0px 5px;
}

.stock-list .stock-item .name {
    display: inline-block;
    padding-top: 4px;
}
.stock-list .stock-item .label {
    float: right;
}

.stock-popup {
    width: 300px;
}
